<style>
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 330px;
            background: #FA936D;
        }
</style>

<center>
        <div id="footer">
                <img class="d-block mx-auto mb-6" src="static/images/logorb.png" alt="" width="300" height="140">
                <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">Satisfacer las necesidades gastrónomicas de nuestros clientes, ofreciendo alimentos y servicios con la más alta calidad, donde se sobrepasen las espectativas de nuestros clientes y ser un espacio que permita la realización
                                personal y el Desarrollo de sus colaboradires en el equipo.</p>
                        <div class="text-center p-6 fw-bold">
                               © 2022 Copyright
                        </div>
                </div>
        </div>
</center>